/*
font-family: 'Play', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Press Start 2P', cursive;
*/



h6 {
  color: white;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text-center {
  margin: 20px auto;
}

.track {
  margin-top: 40px;
  border: 1px solid black;
  height: 80px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.redPlayer {
  width:38px;
  height: 38px;
  background-color: red;
  position: relative;
  margin-top: 18px;
font-family: 'Press Start 2P', cursive;}

.bluePlayer {
  width: 38px;
  height: 38px;
  background-color: blue;
  position: relative;
  margin-top: 18px;
font-family: 'Press Start 2P', cursive;}

#main-title {
  font-family: 'Press Start 2P', cursive;
}
