/*
font-family: 'Play', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Press Start 2P', cursive;
*/


body {
  background-color: #F8F9F4;
}

h6 {
  color: white;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

ul {
    list-style-type: none;
}

.text-center {
  margin: 20px auto;
}

.navbar {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #C7E9E9;
}

.btn-group {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0 auto;
}

.btn-default {
  background-color: #9ECECE;

}

.track {
  margin-top: 40px;
  border: 1px solid black;
  height: 80px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.modal {
  font-family: 'Space Mono', monospace;
}

.redPlayer {
  width:38px;
  height: 38px;
  background-color: #BF2500;
  position: relative;
  margin-top: 18px;
font-family: 'Press Start 2P', cursive;}

.bluePlayer {
  width: 38px;
  height: 38px;
  background-color: #1142D3;
  position: relative;
  margin-top: 18px;
  font-family: 'Press Start 2P', cursive;
}

#main-title {
  font-family: 'Press Start 2P', cursive;
  color: #017E7E;
}

#redPlayerName, #bluePlayerName {
  font-family: 'Press Start 2P', cursive;
  margin-top: 40px;
  font-size: 22px;
}

#redPlayerName {
  color: #FD5C64;
}

#bluePlayerName {
  color: #5C8DDB;
}
