.text-center {
  margin: 20px auto;
}

.track {
  margin-top: 40px;
  border: 1px solid black;
  height: 80px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.redPlayer {
  width:38px;
  height: 38px;
  background-color: red;
  position: relative;
  margin-top: 18px;
}

.bluePlayer {
  width: 38px;
  height: 38px;
  background-color: blue;
  position: relative;
  margin-top: 18px;
}
